/.idea/
/A09DesertClicker/.gradle/
/A09DesertClicker/build/
/A09DesertClicker/app/build/
/A09DesertClicker/.idea/

/A01HappyBirthday/.idea/
/A02DiceRoller/.idea/
/A02DiceRoller/.idea/
/A03Debugging/.idea/
/A04Lemonade/.idea/
/A05TimeTime/.idea/
/A06Affirmations/.idea/
/A07Dogglers/.idea/
/A08WordsApp/.idea/
/A09DesertClicker/.idea/